*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Nooca1aad";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Nooca2aad";
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}


:root{
    --color1: #181c26;
    --color2: #132046;
    --color3: #01C38D;
    --color4: #696E79;
    --color5: #ffff;
}


.container{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right:auto;

}

/* nav style */
section.nav{
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    padding: 20px;
}
section.nav nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 2.5fr 1fr;
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    margin-bottom: 20px;
}
section.nav nav div.logo{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;


}
section.nav nav div.logo img{
    width: 200px;
    height: 200px;
    
}
section.nav nav ul.links{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: nowrap row;
}
section.nav nav ul.links li{
    margin-left: 40px;
    list-style: none;
}
section.nav nav ul.links li a{
 text-decoration: none;
 color: var(--color4);
 font-family: "Nooca2aad";
 transition: all 0.5s ease-in-out;
}
section.nav nav ul.links li a:hover{
    color: var(--color5);
}
section.nav nav div.btnnav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.nav nav div.btnnav button{
    width: 110px;
    height: 40px;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: var(--color2);
    color: var(--color5);
    font-family: "Nooca2aad";
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}
section.nav nav div.btnnav button.cart{
    background-color: var(--color3);
    border-radius: 14px;
    transition: all 0.5s ease-in-out;
}
section.nav nav div.btnnav button.cart ion-icon{
font-size: 16px;
}
section.nav nav div.btnnav button.cart:hover{
    background-color: #132046;
    border: solid 1px var(--color5);
}

/* hero style */
section.hero_sec{
    width: 100%;
    height: 100%;
    background-color: #132046;
    padding: 3%;
}
section.hero_sec div.parts{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap row;

}
section.hero_sec div.parts div.part{
    width: calc(95% / 2);
    
}

section.hero_sec div.parts div.part.right div.head h2{
    font-family: "Nooca1aad";
    font-size: 43px;
    color: var(--color5);
}
section.hero_sec div.parts div.part.right div.head h2 span{
    color: var(--color3);
}
section.hero_sec div.parts div.part.right p.desc{
      width: 60%;
  width: 550px;
    font-family: "Nooca2aad";
  font-size: 20px;
  color: var(--color4);
  line-height: 32px;
  text-transform: capitalize;
  margin: 15px 0px;
}
section.hero_sec div.parts div.part.right div.action{
    height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: nowrap column;
  margin: 40px 0px;
}
section.hero_sec div.parts div.part.right div.action button{
    width: 140px;
    height: 40px;
    border:  none;
    outline: none;
    border-radius: 7px;
    background-color: var(--color3);
    color: var(--color5);
    font-family: "Nooca2aad";
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
section.hero_sec div.parts div.part.right div.action button:hover{
    background-color: var(--color2);
    border: solid 1px var(--color5);
}
section.hero_sec div.parts div.part.left{
  
}
section.hero_sec div.parts div.part.left img{
    width: 340px;
    height: 240px;
    border-radius: 7px;
    position: relative;
    margin-left: 50px ;
}
section.hero_sec div.parts div.part.left img:nth-child(2){
 bottom: 100px;
 left: 20px;
 transition: all 0.5s ease-in-out;

}
section.hero_sec div.parts div.part.left img:nth-child(2):hover{
    transform: skew(-8deg, -1deg);
}
section.hero_sec div.parts div.part.left img:nth-child(1){
     transition: all 0.5s ease-in-out;
}
section.hero_sec div.parts div.part.left img:nth-child(1):hover{
transform: skew(8deg, 1deg);
}








/* media queries */

/* xsml screen */
@media (min-width: 480px) {
    .container{
        max-width: 400px;
    }
}

/* sml screen */
@media (min-width: 480px) and (max-width: 767px){
    .container{
        max-width: 700px;
    }
}

/* md screen */
@media (min-width: 767px) and (max-width: 992px){
    .container{
        max-width: 900px;
    }
}

/* LG screen */
@media (min-width: 992px) and (max-width: 1200px){
    .container{
        max-width: 1000px;
    }
}

/* XlG screen */
@media (min-width: 1200px) and (max-width: 1400px){
    .container{
        max-width: 1150px;
    }
}

/* XXlG screen */
@media (min-width: 1400px){
    .container{
        max-width: 1200px;
    }
}

