*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Nooca1aad";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Nooca2aad";
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}


:root{
    --color1: #191e29;
    --color2: #132046;
    --color3:  #01C38D;
    --color4: #696E79;
    --color5: #ffff;




}


.container{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right:auto;

}

/* nav style */
section.nav{
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    padding: 20px;
}
section.nav nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 2.5fr 1fr;
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    margin-bottom: 20px;
}
section.nav nav div.logo{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;


}
section.nav nav div.logo img{
    width: 200px;
    height: 200px;
    
}
section.nav nav ul.links{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: nowrap row;
}
section.nav nav ul.links li{
    margin-left: 40px;
    list-style: none;
}
section.nav nav ul.links li a{
 text-decoration: none;
 color: var(--color4);
 font-family: "Nooca2aad";
 transition: all 0.5s ease-in-out;
}
section.nav nav ul.links li a:hover{
    color: var(--color5);
}
section.nav nav div.btnnav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.nav nav div.btnnav button{
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: var(--color2);
    color: var(--color5);
    font-family: "Nooca2aad";
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}
section.nav nav div.btnnav button.cart{
    background-color: var(--color3);
    border-radius: 14px;
    transition: all 0.5s ease-in-out;
}
section.nav nav div.btnnav button.cart:hover{
    background-color: #132046;
    border: solid 1px var(--color5);
}








/* media queries */

/* xsml screen */
@media (min-width: 480px) {
    .container{
        max-width: 400px;
    }
}

/* sml screen */
@media (min-width: 480px) and (max-width: 767px){
    .container{
        max-width: 700px;
    }
}

/* md screen */
@media (min-width: 767px) and (max-width: 992px){
    .container{
        max-width: 900px;
    }
}

/* LG screen */
@media (min-width: 992px) and (max-width: 1200px){
    .container{
        max-width: 1000px;
    }
}

/* XlG screen */
@media (min-width: 1200px) and (max-width: 1400px){
    .container{
        max-width: 1150px;
    }
}

/* XXlG screen */
@media (min-width: 1400px){
    .container{
        max-width: 1200px;
    }
}

