*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Nooca1aad";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Nooca2aad";
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}


:root{
    --color1: #181c26;
    --color2: #132046;
    --color3: #01C38D;
    --color4: #696E79;
    --color5: #ffff;
}


.container{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right:auto;

}

/* nav style */
.container section.nav{
    width: 100%;
    height: 100%;
    background-color: var(--color2);
}
.container section.nav nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 2.5fr 1fr;
    grid-template-rows: repeat(1, auto);
}
.container section.nav nav div.logo{
    height: 40px;
    background-color: #01C38D;

}
.container section.nav nav div.logo img{
    width: 100px;
    height: 100px;
}







/* media queries */

/* xsml screen */
@media (min-width: 480px) {
    .container{
        max-width: 400px;
    }
}

/* sml screen */
@media (min-width: 480px) and (max-width: 767px){
    .container{
        max-width: 700px;
    }
}

/* md screen */
@media (min-width: 767px) and (max-width: 992px){
    .container{
        max-width: 900px;
    }
}

/* LG screen */
@media (min-width: 992px) and (max-width: 1200px){
    .container{
        max-width: 1000px;
    }
}

/* XlG screen */
@media (min-width: 1200px) and (max-width: 1400px){
    .container{
        max-width: 1150px;
    }
}

/* XXlG screen */
@media (min-width: 1400px){
    .container{
        max-width: 1200px;
    }
}
