*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "Nooca1aad";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Nooca2aad";
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
:root{
    --color1: #181c26;
    --color2: #132046;
    --color3: #01C38D;
    --color4: #696E79;
    --color5: #ffff;
}
/* body-style */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(90deg,var(--color2),var(--color3));
}
.container-s{
    position: relative;
    width: 850px;
    height: 550px;
    background:var(--color5);
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}
.container-s h1{
    font-family: "Nooca1aad";
    font-size: 30px;
    margin: -10px 0px ;
}
.container-s p{
    font-family: "Nooca2aad";
    font-size: 14.5px;
    margin: 15px 0px;
}
form{
    width: 100%;
}
.form-box{
    width: 50%;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--color5);
    display: flex;
    align-items: center;
    color: #333;
    padding: 40px;
    z-index: 1;
    transform: 0.6s ease-in-out 1.2s,visiblity 0s 1s;
    text-align: center;
}
.container-s.active .form-box{
    right: 50%;
}
.form-box.register{
    visibility: hidden;
}
.container-s.active .form-box.register{
    visibility: visible;
}
.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background-color: #eee;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #333;
}
.input-box input::placeholder{
    font-weight: 400;
    color: #888;
}
.input-box ion-icon{
 right: 20px;
 top: 50%;
 position: absolute;
 transform: translateY(-50%);
 font-size: 20px;
}
.forget-password{
    font-family: "Nooca2aad";
    margin: -15px 0 15px;
}
.forget-password a{
    font-size: 14.5px;
    color: var(--color3);
}
.btn{
    width: 100%;
    height: 48px;
    background-color: var(--color2);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--color5);
    font-weight: 400;
    font-family: "Nooca2aad";
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 1px solid var(--color3);
    background-color: var(--color2);
    border-radius:5px ;
    color: var(--color5);
    font-size: 17px;
    margin: 0 8px ;
}
.toggle-box{
    width: 100%;
    height: 100%;
    position: absolute;
}
.toggle-box::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: var(--color3);
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}
.container-s.active .toggle-box::before{
    left: 50%;
}
.toggle-panel{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease-in-out;
}
.toggle-panel.toggle-left{
    transition-delay: 1.2s;
    left: 0;
}
.container-s.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: 0.6s ;
}
.toggle-panel.toggle-right{
    right: -50%;
    transition-delay: 0.5s;
}
.container-s.active .toggle-panel.toggle-right{
    right: 0;
    transition-delay: 1.2s;
}
.toggle-panel p{
    margin-bottom: 20px;
}
.toggle-panel .btn{
    width: 160px;
    height: 46px;
    background: transparent;
    background-color: var(--color2);
    border: 1px solid var(--color5);
    box-shadow: none;
}








/* .container{ 
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right:auto;
} */
/* nav style */
/* section.nav{
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    position: sticky;
    top: 0;
    z-index: 999;
}
section.nav nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 2.5fr 1fr;
    grid-template-rows: repeat(1, auto);
    position: relative;
    gap: 20px;
}
section.nav nav div.logo{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
section.nav nav div.logo img{
    width: 150px;
    height: 150px;
    
}
section.nav nav ul.links{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: nowrap row;
}
section.nav nav ul.links li{
    margin-left: 40px;
    list-style: none;
}
section.nav nav ul.links li a{
 text-decoration: none;
 color: var(--color4);
 font-family: "Nooca2aad";
 transition: all 0.5s ease-in-out;
}
section.nav nav ul.links li a:hover{
    color: var(--color5);
}
section.nav nav div.btnnav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.nav nav div.btnnav button{
    width: 110px;
    height: 40px;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: var(--color2);
    color: var(--color5);
    font-family: "Nooca2aad";
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}
section.nav nav div.btnnav button.cart{
    background-color: var(--color3);
    border-radius: 14px;
    transition: all 0.5s ease-in-out;
}
section.nav nav div.btnnav button.cart ion-icon{
font-size: 16px;
}
section.nav nav div.btnnav button.cart:hover{
    background-color: var(--color1);
    border: solid 1px var(--color5);
}
section.nav nav div.btnnav button.signup{
 border-radius: 7px;
 background-color: var(--color1);
}
section.nav nav div.btnnav button.signup:hover{
    background-color: var(--color3);
    border: 1px solid var(--color5);
} */
 /* footer */
 /* section.footer{
    width: 100%;
    height: 300px;
    background-color: var(--color1);
    border-top: 0.3px solid var(--color3);
 }
 section.footer footer{
    width: 100%;
    height: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
 }
 section.footer footer div.heading{
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: nowrap column;
 }
 section.footer footer div.heading h3{
    font-size: 20px;
    font-family: "Nooca2aad";
    color: var(--color5);
 }
  section.footer footer div.heading p.desc{
       width: 40%;
  width: 450px;
    font-family: "Nooca2aad";
  font-size: 15px;
  color: var(--color4);
  line-height: 22px;
  text-transform: capitalize;
  margin: 15px 0px;
  }
  section.footer footer div.heading div.res{
      font-family: "Nooca2aad";
  font-size: 14px;
  color: var(--color4);
  line-height: 22px;
  text-transform: capitalize;
  margin: 15px 0px;
  }
   section.footer footer div.heading div.res p.reserved{
   color: var(--color3);
   }
section.footer footer div.terms ul.fo{
 height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: nowrap column;
}
section.footer footer div.terms ul.fo li{
    margin-top: 10px;
    list-style: none;
}
section.footer footer div.terms ul.fo li a{
 text-decoration: none;
 color: var(--color5);
 font-family: "Nooca2aad";
}
section.footer footer div.f24 span{
font-size: 40px;
 line-height: 22px;
    font-family: "Nooca2aad";
    font-weight: 800;
    color: var(--color5);
}
section.footer footer div.f24 p.p24{
          font-family: "Nooca2aad";
  font-size: 14px;
  color: var(--color4);
  line-height: 22px;
  text-transform: capitalize;
  margin: 15px 0px;
}
section.footer footer div.f24 p.socialmedia ion-icon{
    font-size: 26px;
    color: var(--color4);
    margin-left: 10px;
    cursor: pointer;
} */
 